@page
@model SENG300Scholarships.Pages.Submissions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Submission</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Submission.StudentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.StudentID)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.FirstName)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.LastName)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.School)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.GPA)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.Year)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.ScholarshipID)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.ReferenceName)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.ReferenceEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Submission.SubmissionId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
