@page
@model SENG300Scholarships.Pages.StudentView_Scholarships.IndexModel

@{
    ViewData["Title"] = "Index";
}

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="~/js/site.js"></script>

<h1>Available Scholarships:</h1>


<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Filter by GPA:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-page="./Index">Return to full list</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort">
                    @Html.DisplayNameFor(model => model.Scholarship[0].Title)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ValueSort">
                    @Html.DisplayNameFor(model => model.Scholarship[0].value)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].org)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].duration)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DeadlineSort">
                    @Html.DisplayNameFor(model => model.Scholarship[0].deadline)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].scope)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].major)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].GPA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Scholarship)
        {
            <!--if ((Text1 is float || int) && (item.GPA <= Text1))
            {-->
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.org)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.scope)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.major)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GPA)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ScholarshipID">Details</a> |
                    <a asp-page="/Index">Apply</a>
                </td>
            </tr>
            <!--}-->
        }
    </tbody>
</table>

<div class="chart1"></div>

<div class="chart2"></div>

<div class="chart3"></div>

<script>    
    uni();
    department();
    nation();
</script>
