@page
@model SENG300Scholarships.Pages.Scholarships.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].org)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].scope)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].major)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].GPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scholarship[0].UploadPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Scholarship) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.org)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.scope)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.major)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadPath)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ScholarshipID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ScholarshipID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ScholarshipID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
